<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Pollster", "#", id: "logo" %>
      <nav>

      </nav>
    </div>
  </div>
</header>            